{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="container my-3" style="width: 50%">
    <h2 class="my-4">Latest Posts</h1>
</div>
{% for post in posts %}
    <div class="container mb-3">
        <h4>{{ post.title }}</h4>
        {% if post.image_path %}
        <img src="{{ post.image_path}}" class="img-fluid mb-3 d-block mx-auto" alt="Image Post" style="max-height: 200px;" title="Post Image">
        {% endif %}
        <p class="post_body">{{ post.body[:64] }}{% if post.body|length > 64 %}...{% endif %} <a href="posts/{{ post.id }}">read more</a>       
        </p>
        <div class = "post_info">
            <p><small class="text-muted">{{ post.time }}</small></p>
            <p><small class="text-muted">Posted by {{ post.username }}</small></p>
        </div>
    </div>
{% endfor %}
{% endblock %}